# Claude Code
CLAUDE.md
.claude/

# Compilados de Java
*.class
*.jar
*.war
*.ear

# Maven
target/

# IDEs
.project
.classpath
.settings/
.idea/
*.iml
.vscode/
.factorypath

# Logs y temporales
*.log
tmp/
temp/

# Sistema operativo
.DS_Store
Thumbs.db
